@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    margin : 0;
    padding: 0;
}

.nav {
    height     : 70px;
    width      : 100%;
    display    : flex;
    align-items: center;
    margin     : 0;
}

.searchInput {
    height: 20px;
    width : 20vw;
    border: none;
}

.left {
    padding-left   : 16px;
    font-size      : 7vw;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display        : flex;
    flex           : 50%;
    align-items    : center;
    color          : black;
    text-decoration: none;
}

.leftLeft {
    display: flex;
    flex   : 30%;
}

.leftRight {
    display: flex;
    flex   : 70%;
}

.right {
    display        : flex;
    flex           : 50%;
    justify-content: flex-end;
    align-items    : center;
}

.rightRight {
    display        : flex;
    flex           : 40%;
    align-items    : center;
    justify-content: space-around
}

.rightLeft {
    display        : flex;
    flex           : 60%;
    align-items    : center;
    justify-content: flex-end;
}



.nav2 {
    padding-left: 12px;
    height      : 30px;
    width       : 100%;
    background  : rgb(2, 0, 36);
    background  : linear-gradient(90deg, rgb(72, 55, 136) 0%, rgba(148, 147, 147, 1) 37%, rgba(0, 212, 255, 1) 200%);
}

.category {
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-left    : 30%;
    margin-right   : 30%;
    font-size      : 1vw;
}

.mButton {
    height   : 100%;
    width    : 2vw;
    font-size: 34px;
}