@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    margin : 0;
    padding: 0;
}

.nav {
    height          : 7%;
    width           : 100%;
    display         : flex;
    align-items     : center;
    background-color: rgb(189, 189, 189);
    margin          : 0;
}

.left {
    padding-left   : 2%;
    flex           : 15%;
    font-size      : 3vh;
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.middle {
    flex       : 30%;
    display    : flex;
    align-items: center;
}

.searchInput {
    height: 3vh;
    width : 12vw;
    border: none;
}

.right {
    flex: 50%;
}

.links {
    display        : flex;
    justify-content: space-around;
    font-size      : 1vw;
}

.link {
    text-decoration: none;
    color          : black;
    font-family    : 'Press Start 2P', cursive;
}

.categories {
    height          : 5%;
    width           : 100%;
    background-color: antiquewhite;
}

.category {
    height         : 100%;
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    margin-left    : 30%;
    margin-right   : 30%;
    font-size      : 1vw;
}