.divC {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    width           : 100vw;
    background-size : 100vw 100vh;
    background-image: url(./images/ice2.jpeg);
}

.paperC {
    height          : 100%;
    width           : 90%;
    align-items     : center;
    display         : flex;
    justify-content : space-evenly;
    flex-direction  : column;
    background-size : 32vw 65vh;
    background-image: url(./images/ice4.jpeg)
}

.div1C {
    height: 65%;
    width : 35%;
}

.textField {
    width: 60%;
}

.headerC {
    font-size: 2vw;
}

.createPC {
    height: 100%;
    width : 90%;

}

.createBC {
    display        : flex;
    justify-content: left;
}

.selectC {
    width: 100px;
}

.web1 {
    height          : 100vh;
    width           : 100vw;
    background-image: url(./images/villa.jpeg);
    background-size : 100vw 100vh;
}

.web2 {
    height: 100vh;
    width : 100vw;
}